<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yhjz.biz.mapper.BizAreaMapper">

    <resultMap type="BizArea" id="BizAreaResult">
        <result property="id"    column="id"    />
        <result property="areaCode"    column="area_code"    />
        <result property="areaName"    column="area_name"    />
        <result property="description"    column="description"    />
        <result property="cableId"    column="cable_id"    />
    </resultMap>

    <sql id="selectBizAreaVo">
        select id, area_code, area_name, description,cable_id from biz_area
    </sql>

    <select id="selectBizAreaList" parameterType="BizArea" resultMap="BizAreaResult">
        <include refid="selectBizAreaVo"/>
        <where>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="cableId != null"> and cable_id = #{cableId}</if>
        </where>
    </select>

    <select id="selectBizAreaById" parameterType="Long" resultMap="BizAreaResult">
        <include refid="selectBizAreaVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizArea" parameterType="BizArea" useGeneratedKeys="true" keyProperty="id">
        insert into biz_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaCode != null">area_code,</if>
            <if test="areaName != null">area_name,</if>
            <if test="description != null">description,</if>
            <if test="cableId != null">cable_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaCode != null">#{areaCode},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="description != null">#{description},</if>
            <if test="cableId != null">#{cable_id},</if>
        </trim>
    </insert>

    <update id="updateBizArea" parameterType="BizArea">
        update biz_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="cableId != null">cable_id = #{cableId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizAreaById" parameterType="Long">
        delete from biz_area where id = #{id}
    </delete>

    <delete id="deleteBizAreaByIds" parameterType="String">
        delete from biz_area where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>